<div class="navbar navbar-default" ng-include="'views/navbar.html'"></div>
<div class="bs-docs-header">
  <div class="container">
    <h1>{{'SiteTitle'|translate}}</h1>
    <p>{{'SiteComment'|translate}}</p>
  </div>
</div>
<div class="container-fluid" id="content">
  <h3>{{'NewFiles'|translate}}</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="g in data.ggbs | limitTo:3">
      <div class="thumbnail" ng-click="preview(g.id)">
        <img ng-src="{{g.src}}" alt="{{g.title}}">
        <div class="caption">
          <h4>{{g.title}}</h4>
        </div>
      </div>
    </div>
  </div>
  <h3><a class="btn btn-default center-block" role="button" ui-sref="browse">
    {{'MoreFiles'|translate}} <small>({{data.ggbs.length}})</small></a></h3>
</div>
