<div class="navbar navbar-default" ng-include="'views/navbar.html'"></div>
<div class="container" ui-view></div>
<div class="container-fluid" id="content">
  <article id="ggb-preview" class="geogebrawebs" data-param-showLogging="true"
           data-param-useBrowserForJS="false" data-param-enableRightClick="false"
           data-param-enableShiftDragZoom="{{!!ggb.info.enableDragZoom}}"
           data-param-enableLabelDrags="{{!!ggb.info.enableLabelDrags}}">
    <p class="pull-left">{{'Loading'|translate}}...</p>
  </article>
</div>
