<div class="container">
  <p>
    <span>{{'Footer1'|translate}}</span>
    <span>{{'Footer2'|translate}}</span>
    <span>
      <a href="https://github.com/rhcad/ggblib">{{'ProjectCode'|translate}}</a> {{'Footer3'|translate}}
      <a href="http://www.geogebra.org/license/">GGB</a> {{'LicenseEnd'|translate}}
    </span>
    <script ng-if="!data.debugging" ng-src="http://s4.cnzz.com/z_stat.php?id=1254723296&web_id=1254723296"></script>
    <a ng-if="!data.debugging" href="http://www3.clustrmaps.com/user/5af11e418"><img ng-src="http://www3.clustrmaps.com/stats/maps-no_clusters/rhcad.com-thumb.jpg" alt="Locations of visitors to this page" /></a>
  </p>
</div>
