<div class="container">
  <p>
    <span>本非商业站点，仅用于个人研究和技术交流。</span>
    <span>ggb资源的版权归相关来源网站和作者。</span>
    <span><a href="https://github.com/rhcad/ggblib">项目代码</a>采用 GPL v3 开源协议和
      <a href="https://github.com/rhcad/ggblib/">GGB</a> 协议。</span>
    <script src="http://s4.cnzz.com/z_stat.php?id=1254723296&web_id=1254723296"></script>
    <a href="http://www.geogebra.org/license/"><img src="http://www3.clustrmaps.com/stats/maps-no_clusters/rhcad.com-thumb.jpg" alt="Locations of visitors to this page" /></a>
  </p>
</div>
